<!-- Launch model -->
<launch>

  <arg name="use_rviz" default="true"/>

  <param name="robot_description"
      textfile="$(find buggy_description)/urdf/buggy.urdf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher"
      type="robot_state_publisher" />
<group if="$(arg use_rviz)">
 <node name="rviz" pkg="rviz" type="rviz"/>
</group>
</launch>
